body {
  color: #3c4a55;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9fbfd;
  color: #3c4a55;
  font-family: "Noto Sans", sans-serif;
}



.container {
  padding: 24px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

button {
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: black;
}

.copyBtn {
  height: 30px;
  font-size: 10px;
  background-color: #d32d27;
  color: white;
  padding: 10px;
}

.charlength {
  display: flex;
  flex-direction: column;
  color: #3c4a55;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
}

.charlength span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;
}

.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}

.generateBtn {
  width: 100%;
  font-size: 20px;
  padding: 20px;
  background-color: #d32d27;
  font-family: "Noto Sans", sans-serif;
  color: white;
}

.errorMessage {
  color: red;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}

.password-strength {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  font-family: "Noto Sans", sans-serif;
}

@media only screen and (max-width: 480px) {
  /* .header {
    /* display: block;
    white-space: pre-line !important; */
}

*/ .app-heading {
  font-size: 16px !important;
}

.title,
.charlength,
.generateBtn,
.checkboxes,
.password-strength {
  font-size: 8px !important;
}
}

@media only screen and (max-width: 720px) {
  .app-heading {
    font-size: 24px;
  }

  .title,
  .charlength,
  .generateBtn,
  .checkboxes,
  .password-strength {
    font-size: 12px;
  }

  .copyBtn {
    height: 20px;
    font-size: 8px;
    padding: 5px;
  }
}